<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="HingleCringleberry"/>
    <add key="password" value="topkek"/>
    <add key="owner" value ="Vardy-B"/>
    <add key="site" value="http://play.pokemonshowdown.com"/>
  </appSettings>
</configuration>